# Preprocessed C files
build/preprocess/*.i

# Assembly files
build/assembly/*.s

# Object files
build/objects/*.o

# Static linking executables
build/static/*
!build/static/.gitkeep

# Dynamic linking executables
build/dynamic/*
!build/dynamic/.gitkeep

# Static and shared libraries
lib/*

# Temporary executable
calculator

# GCC temporary files
*.o
*.i
*.s

# Core dumps
core
core.*